*{
	color: var(--cl);
}
  
.searchBar{
	height: 40px;
}
.searchImg{
	width: 20px;
	height: 20px;
}

.labelText {
	color: var(--cl);
}

:host-context([data-theme-style="dark"]) {
    --cl: white;
}
:host-context([data-theme-style="light"]) {
    --cl: black;
}