<div style="padding: 5px;">
  <div class="pageHeader">

    <div nz-row>
      <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form" (ngSubmit)="submitForm()">
        <!-- <div nz-row [nzGutter]="12"> -->
            <!-- <div nz-col [nzSpan]="4">
              <nz-form-item nzFlex>
                <nz-form-label class="colorWhite">User ID
                </nz-form-label>
                  <nz-form-control>
                    <input nz-input placeholder="userID" formControlName="userId" style='color:#000' />
                  </nz-form-control>
                </nz-form-item>
            </div>
              <div nz-col [nzSpan]="4">
                <nz-form-item nzFlex>
                  <nz-form-label class="colorWhite">Role
                  </nz-form-label>
                    <nz-form-control>
                      <nz-select style="width: 150px;" nzShowSearch nzAllowClear nzPlaceHolder="Select a role"
                        formControlName="roleId">
                        <nz-option *ngFor="let option of AllRoleList" [nzLabel]="option.description" [nzValue]="option.value">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
              </div>
              <div nz-col [nzSpan]="4">
                <nz-form-item nzFlex>
                  <nz-form-label class="colorWhite">User Name
                  </nz-form-label>
                    <nz-form-control>
                      <input nz-input placeholder="userName" formControlName="username" style='color:#000' />
                    </nz-form-control>
                  </nz-form-item>
              </div>
              <div nz-col [nzSpan]="4">
                <nz-form-item nzFlex>
                  <nz-form-label class="colorWhite">Division
                  </nz-form-label>
                    <nz-form-control>
                      <nz-select style="width: 150px;" nzShowSearch nzAllowClear nzPlaceHolder="Select a dvision"
                        formControlName="companyName">
                        <nz-option *ngFor="let option of DivisionList" [nzLabel]="option.companyName"
                          [nzValue]="option.value">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
              </div>
         -->
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="2">
            <nz-form-item nzFlex>
              <nz-form-label class="colorWhite">User ID
              </nz-form-label>

            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="5">
            <nz-form-item nzFlex>
              <nz-form-control>
                <input nz-input placeholder="userID" formControlName="userId" style='color:#000' />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="2">
            <nz-form-item nzFlex>
              <nz-form-label class="colorWhite">Role
              </nz-form-label>
              <nz-form-control>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="5">
            <nz-form-item nzFlex>
              <nz-form-control>
                <nz-select style="width: 150px;" nzShowSearch nzAllowClear nzPlaceHolder="Select a role"
                  formControlName="roleId">
                  <nz-option *ngFor="let option of AllRoleList" [nzLabel]="option.description" [nzValue]="option.value">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="2">
            <nz-form-item nzFlex>
              <nz-form-label class="colorWhite">User Name
              </nz-form-label>
              <nz-form-control>

              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="5">
            <nz-form-item nzFlex>
              <nz-form-control>
                <input nz-input placeholder="userName" formControlName="username" style='color:#000' />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="2">
            <nz-form-item nzFlex>
              <nz-form-label class="colorWhite">Division
              </nz-form-label>
              <nz-form-control>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="5">
            <nz-form-item nzFlex>
              <nz-form-control>
                <nz-select style="width: 150px;" nzShowSearch nzAllowClear nzPlaceHolder="Select a dvision"
                  formControlName="companyName">
                  <nz-option *ngFor="let option of DivisionList" [nzLabel]="option.companyName"
                    [nzValue]="option.value">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="4" class="search-area">
            <button nz-button [nzType]="'default'" style="color: #000;"><img
                src="../../../../assets/img/Images/SS_General/find.png" class="">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <nz-table #basicTable id="nzTable" [nzData]="displayOfDateList" *ngIf="isHidden" [nzHideOnSinglePage]="true"
    (nzPageIndexChange)="pageChange($event)" nzBordered="true">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr style="background:cornflowerblue">
        <th class="listTitle">
          <div>
            <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()"
              [nzIndeterminate]="indeterminate">
            </label> Select All
          </div>
        </th>
        <ng-container *ngFor="let item of renderHeader">
          <th class="listTitle" nzShowSort nzSortKey="{{item.value}}">
            <div>{{ item.name }}</div>
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data;let idx = index" (dblclick)="showModal(data)">
        <td>
          <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="updateSingleChecked()"></label>
        </td>
        <!-- <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td> -->
        <td>{{ data.userId }}</td>
        <td>{{ data.username }}</td>
        <td>{{ data.companyName }}</td>
        <td>{{ data.roleList?data.roleList[0].description:''}}</td>
        <td>{{ data.enabled=='true'?'Active':'Inactive'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <!-- <td [attr.colspan]="renderHeader.length+1" style="padding: 10px;">
        </td> -->
      </tr>
    </tfoot>
  </nz-table>
  <!-- <nz-table
      #basicTable
      id="nzTable"
      [nzData]="displayListOfData"
      *ngIf="isHidden"
    >
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr style="background:cornflowerblue">
            <th
            nzShowCheckbox
            nzShowRowSelection
            [nzSelections]="listOfSelection"
            [(nzChecked)]="isAllDisplayDataChecked"
            [nzIndeterminate]="isIndeterminate"
            (nzCheckedChange)="checkAll($event)"
          ></th>
          <ng-container *ngFor="let item of renderHeader">
            <th class="listTitle" nzShowSort nzSortKey="{{item.name}}">
              <div>{{ item.name }}</div>
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of basicTable.data;let idx = index" (dblclick)="showModal(data)">
            <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
            <td>{{ data.userId }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.companyName }}</td>
            <td>{{ data.roleList?data.roleList.description:''}}</td>
            <td>{{ data.enabled}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td [attr.colspan]="renderHeader.length+1" style="padding: 10px;">
            </td>
          </tr>
        </tfoot>
    </nz-table> -->
  <div *ngIf="!isHidden">
    <div class="pageHeader">
      <div nz-row>
        <form nz-form [formGroup]="validateResetForm" class="ant-advanced-search-form" (ngSubmit)="submitResetForm()">
          <div nz-row [nzGutter]="16" >
            <div nz-col [nzSpan]="8" >
              <div nz-col [nzSpan]="6" >
                  <nz-form-item nzFlex>
                      <nz-form-label class="colorWhite">User ID</nz-form-label>
                      
                    </nz-form-item>
              </div>
              <div nz-col [nzSpan]="15">
                  <nz-form-item nzFlex>
                      <nz-form-control>
                        <nz-form-text style="color: #fff;font-size: 14px;">{{resetUserId}}</nz-form-text>
                      </nz-form-control>
                    </nz-form-item>
              </div>
            </div>
            
            
          </div>
          <div nz-row [nzGutter]="16">
              <div nz-col [nzSpan]="8" >
                  <div nz-col [nzSpan]="6" >
                      <nz-form-item nzFlex>
                          <nz-form-label class="colorWhite">User Name</nz-form-label>
                          
                        </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="15">
                      <nz-form-item nzFlex>
                          <nz-form-control>
                            <nz-form-text style="color: #fff;font-size: 14px;">{{resetUserName}}</nz-form-text>
                          </nz-form-control>
                        </nz-form-item>
                  </div>
            </div>
          </div>
          <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="8">
                <div nz-col [nzSpan]="6" >
                    <nz-form-item nzFlex>
                        <nz-form-label class="colorWhite">Password</nz-form-label>
                        
                      </nz-form-item>
                </div>
                <div nz-col [nzSpan]="15">
                    <nz-form-item nzFlex>
                        <nz-form-control>
                            <input type="password" nz-input placeholder=""  formControlName="password" style='color:#000' />  
                          </nz-form-control>
                      </nz-form-item>
                </div>
                <!-- <nz-form-item nzFlex>
                    <nz-form-label class="colorWhite">Password</nz-form-label>
                    <nz-form-control>
                        <input type="password" nz-input placeholder=""  formControlName="password" style='color:#000' />  
                      </nz-form-control>
                  </nz-form-item> -->
            </div>
          </div>
          <div nz-row [nzGutter]="16" class="search-area">
            <div nz-col [nzSpan]="2" style="margin-right: 25px;">
              <button nz-button [nzType]="'default'" style="color: #000;" [disabled]="resetPassword"><img
                  src="../../../../assets/img/Images/SS_General/assign.png" class="update">Reset</button>
            </div>
            <div nz-col [nzSpan]="2">
              <button nz-button [nzType]="'default'" style="color: #000;" (click)="cancel()"><img
                  src="../../../../assets/img/Images/SS_General/cancel.jpg" class="cancel">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>