*{
	color: var(--cl);
}
  
.searchBar{
	height: 40px;
}
.active {
	background: orange !important;
}
.active1 {
	background: lightblue;
}
.search-area {
	position: relative;
    line-height: 40px;
    zoom: 1;
}
.headerButton {
	color: black;
	width: 100px;
}

.labelText {
	color: var(--cl);
}
:host-context([data-theme-style="dark"]) {
    --cl: white;
}
:host-context([data-theme-style="light"]) {
    --cl: black;
}