<div style="padding: 5px;">
	<div class="pageHeader">

		<div nz-row class="searchBar">
			<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form" (ngSubmit)="submitForm()">
				<div nz-row [nzGutter]="16">
					<div nz-col [nzSpan]="16">
						<nz-form-item nzFlex>
							<div nz-col [nzSpan]="8">
								<nz-form-label class="colorWhite">User ID
								</nz-form-label>
							</div>
							<nz-form-control>
								<div nz-col [nzSpan]="20" style="font-size: 14px;">
									{{userID}}
								</div>
							</nz-form-control>
						</nz-form-item>
					</div>
				</div>
				<div nz-row [nzGutter]="16">
					<div nz-col [nzSpan]="16">
						<nz-form-item nzFlex>
							<div nz-col [nzSpan]="8">
								<nz-form-label class="colorWhite">Old Password
								</nz-form-label>
							</div>
							<nz-form-control nzErrorTip="Please input your Old Password!">
								<div nz-col [nzSpan]="20">
									<input type="password" nz-input placeholder="old password"
										formControlName="oldPassword" style='color:#000' />
								</div>
							</nz-form-control>
						</nz-form-item>
					</div>
				</div>
				<div nz-row [nzGutter]="16">
					<div nz-col [nzSpan]="16">
						<nz-form-item nzFlex>
							<div nz-col [nzSpan]="8">
								<nz-form-label class="colorWhite">New Password
								</nz-form-label>
							</div>
							<nz-form-control>
								<div nz-col [nzSpan]="20">
									<input type="password" nz-input placeholder="new Password"
										formControlName="newPassword" style='color:#000' />
								</div>
							</nz-form-control>
						</nz-form-item>
					</div>
				</div>
				<div nz-row [nzGutter]="16">
					<div nz-col [nzSpan]="16">
						<nz-form-item nzFlex>
							<div nz-col [nzSpan]="8">
								<nz-form-label class="colorWhite">Confirm Password
								</nz-form-label>
							</div>
							<nz-form-control>
								<div nz-col [nzSpan]="20">
									<input type="password" nz-input placeholder="confirm Password"
                    formControlName="confirmPassword" style='color:#000' />
                    <div style ="color:red;" *ngIf="validateForm.get('newPassword').value !== validateForm.get('confirmPassword').value">
                      {{"New Password and Confirm New Password not matched!"}}</div>
								</div>
							</nz-form-control>

						</nz-form-item>
					
					</div>
				</div>
				<div nz-row [nzGutter]="16" class="search-area">
					<div nz-col [nzSpan]="2" style="margin-right:22px">
						<button nz-button [nzType]="'default'" [disabled]="updatePassword" style="color: #000;"><img
								src="../../../../assets/img/Images/SS_General/assign.png" class="update">Update</button>
					</div>
					<div nz-col [nzSpan]="2" (click)="resetForm($event)">
						<button nz-button [nzType]="'default'" style="color: #000;"><img
								src="../../../../assets/img/Images/SS_General/cancel.jpg" class="cancel">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
