* {
    color: blue;
}
.emptyBar{
	height: 60px;
	width: 98%;
	background-color: rgba(0,0,0,0.1);
	margin: 20px;
}
ul li {
    display: inline-block;
    padding: 0 8px;
 }
 
 .boxContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.serverCancelImg {
    height: 15px;
    position: absolute;
    margin-left: -15px;
    margin-top: 20px;
    animation: scaleDraw 5s ease-in-out infinite;
}
.serverSpan {
    position: absolute;
    margin-left: -12px;
}
.awCancelImg {
    height: 15px;
    position: absolute;
    margin-left: -22px;
    margin-top: 5px;
    animation: scaleDraw 5s ease-in-out infinite;
}
.storageCancelImg {
    height: 15px;
    position: absolute;
    margin-left: -28px;
    margin-top: 28px;
    animation: scaleDraw 5s ease-in-out infinite;
}
.borderRight div {
    border-right:2px solid black;
    height: 50px; 
}
.lightblueBox {
    height: 150px;
    width:155px;
    background: lightblue;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}
.emasBox {
    height: 100px;
    width:150px;
    background:rgb(214, 180, 180);
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}
.linenBox {
    height: 150px;
    width:150px;
    background: linen;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}
.yellowBox {
    height: 150px;
    width:150px;
    background: lightgoldenrodyellow;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}
.routerBox {
    height: 50px;
    width:150px;
    background: cornsilk;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}
.itmsBox {
    height: 80px;
    width:100px;
    background: cornsilk;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}
.cornsilkBox {
    height: 150px;
    width:150px;
    background: cornsilk;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}
.awBox {
    height: 150px;
    width:180px;
    background: lightgoldenrodyellow;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}
.vtlBox {
    height: 150px;
    width:74px;
    background: cornsilk;
    margin-left: -40px;
    border: 2px solid black;
}
.transportBox {
    height: 100px;
    width:150px;
    background: darkgray;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}
.nwaBox {
    height: 150px;
    width:100px;
    background: lightblue;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}
.footerResult {
    margin-top: 20px;
}
.footerResult p {
    color: var(--cl);
}

@keyframes scaleDraw {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
    0%{
        transform: scale(1);  /*开始为原始大小*/
    }
    25%{
        transform: scale(1.5); /*放大1.5倍*/
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.5);
    }
}

.text {
    color: var(--cl);
}

:host-context([data-theme-style="dark"]) {
    --cl: white;
}
:host-context([data-theme-style="light"]) {
    --cl: black;
}